body{
	margin: 0;
	padding: 0;
}


@font-face {
 font-family: pacifico;
 src: url("fonts/Pacifico.eot")
}
@font-face {
 font-family: pacifico;
 src: url("fonts/Pacifico.ttf") 
}

@font-face {
 font-family: bebas;
 src: url("fonts/bebas.eot") 
}
@font-face {
 font-family: bebas;
 src: url("fonts/bebas.TTF")
}


.wrapper {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

.header {
	overflow: hidden;
	padding: 40px 0;
}

.logo {
	float: left;
	box-sizing: border-box;
	width: 25%;

}

.logo h1{
	margin: 0;
	color: #4a4a4a;
	font-family: pacifico;
	font-size: 40px;
}

.menu {
	float: right;
	box-sizing: border-box;
	width: 70%;
}

.menu ul{
	list-style: none;
	margin: 0;
	text-align: right;
}

.menu ul li{
	display: inline-block;
	color: #a6a6a6;
	font-size: 15px;
	margin-right: 45px;
	/*padding-left: 10px;*/
	font-family: bebas;
	text-align: left;
}

.menu ul li span{
	display: block;
	font-size: 20px;
	color: #474747;
	font-weight: bold;
	font-family: bebas;
}

.slider {
    position: relative;
}

.slider_logo img {
	width: 100%;
}

.slider_text {
	width: 25%;
	box-sizing: border-box;
	position: absolute;
	padding: 10px 15px;
	left: 0;
	bottom: 5px;
	background: #3f3f3f;
}

.slider_text h1{
	margin: 0;
	color: #fdfdfd;
	font-size: 30px;
	font-family: bebas;
}

.slider_text h4{
	margin: 0;
	color: #fdfdfd;
	font-family: bebas;
}

.slider_content h4{
	font-family: bebas;
	color: #4a4a49;
}

.projects {
	box-sizing: border-box;
	margin-top: 60px;
}

.project {
	width: 33.33%;
	box-sizing: border-box;
	display: inline-block;
	padding: 0 25px;
	vertical-align: top;
}

.project_title{
	overflow: hidden;
}

.pro_img {
	float: left;
	width: 20%;
	margin-top: 35px; 
}

.pro_title {
	float: right;
	width: 75%;
}

.pro_title h1{
	color: #474747;
	font-family: bebas;
}


.description p{
	color: #2a2a2a;
}

.cta span{
	color: #474747;
	font-weight: bold;
	font-size: 16px;
	font-family: bebas;
	
}

.work_section {
	/*border: 2px solid red;*/
}

.work_title {
	text-align: center;
	padding: 40px 0;
	background: #e5e5e5;
}

.work_title h1{
	color: #404040;
	margin: 0;
	font-family: bebas;
	font-size: 25px;
}

.works {
	/*border: 2px solid green;*/
}

.work {
	width: 25%;
	display: inline-block;
	box-sizing: border-box;
	/*border: 2px solid black;*/
	padding: 15px;
}

.work img{
	width: 100%;
}

.work h1{
	color: #3d3d3d;
	font-family: bebas;
}

.footer {
	background: #f8f8f8;
	overflow: hidden;
	margin-top: 60px;
}

.left {
	width: 40%;
	float: left;
	text-align: left;
}

.right {
	width: 40%;
	float: right;
	text-align: right;
}

.left p span{
	font-weight: bold;
	color: #3d3d3d;
	font-family: bebas;
}

.left p{
    color: #ababab;
}

.right p span{
	font-weight: bold;
	color: #3d3d3d;
	font-family: bebas;
}

.right p{
	color: #ababab;
}